<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Article#new_article</h1>
    <p>Thanks for joining and have a <a href="http://github.com/">great day!</a></p>
    <p>
      <%= @greeting %>, find me in app/views/app/views/article/new_article.text.erb
    </p>
    <!-- body -->
    <p>Thanks for joining and have a <a href="http://github.com/">great day</a> one more time!</p>
    Some Text
  </body>
</html>
